
            <div data-role="header">
                <h1 data-translate="Credits"></h1>
            </div><!-- /header -->

            <div data-role="content">
                <h3 data-translate="Created by"></h3>
                <p class="margin-left">André Augusto Tissot<br />
                    andrehtissot@gmail.com</p>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#menu" data-direction="reverse"><span data-translate="Back"></span></a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
