<div data-role="header" data-position="inline">
  <h1><span data-translate="YouAreTrapped"></span>!</h1>
</div><!-- /header -->
<div data-role="content" class="center">
    <div>
      <img src="resources/alert_icon.png"/>
      <h2><span id="currentTeamName"></span> <span data-translate="IsTrapped"></span>!</h2>
      <span data-translate="YourPiecesAreTrapped"></span>.<br />
      <a href="#" data-role="button" data-rel="back"><span data-translate="OK"></span></a>
    </div>
</div><!-- /content -->
