<div data-role="header" data-position="inline">
  <h1><span data-translate="GameOver"></span>!</h1>
</div><!-- /header -->
<div data-role="content" class="center">
    <div>
      <img src="resources/alert_icon.png"/>
      <h2><span data-translate="TheGameIsTied"></span>!</h2>
      <span data-translate="NoPiecesCanMove"></span>.<br />
      <span data-translate="DoYouWantToPlayAgain"></span>
      <a href="#menu" data-role="button" data-inline="true"><span data-translate="No"></span></a>
      <a href="#" data-role="button" class="restartGame" data-inline="true"><span data-translate="Yes"></span></a>
    </div>
</div><!-- /content -->
