
            <div data-role="header">
                <h1 data-translate="Options"></h1>
            </div><!-- /header -->

            <div data-role="content">
                <div class="content-primary">
                    <ul data-role="listview">
                        <li>
                            <img src="resources/firefox80x80.png" />
                            <h3>Firefox</h3>
                            <p>Mozilla Firefox, free web browser</p>
                            <span class="ui-li-count" id="ff-score-count"></span>
                        </li>
                        <li>
                            <img src="resources/ie80x80.png" />
                            <h3>Internet Explorer</h3>
                            <p>You need to be running Windows Vista or Windows 7</p>
                            <span class="ui-li-count" id="ie-score-count"></span>
                        </li>
                    </ul>
                </div>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#menu" data-direction="reverse"><span data-translate="Back"></span></a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
