 <div data-role="content">
    <div id="playerOne" class="players">
      <span data-translate="Player"></span> <span data-translate="One"></span>: Firefox
    </div>
    <div id="checkerboard">
      <div id="checkerboard-pieces"></div>
    </div>
    <div id="playerTwo" class="players">
      <span data-translate="Player"></span> <span data-translate="Two"></span>: Internet Explorer
    </div>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#menu" data-direction="reverse"><span data-translate="Back"></span></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
