
            <div data-role="header" data-position="inline">
                <h1>Tissot Checker</h1>
            </div><!-- /header -->

            <div data-role="content">
                <div data-role="controlgroup">
                    <a href="#" data-role="button" id="MenuNewGameButtom"><span data-translate="New Game"></span></a>
                    <a href="#game" data-role="button" style="display:none" id="MenuContinueGameButtom"><span data-translate="Continue Game"></span></a>
                    <a href="#score" data-role="button"><span data-translate="Score"></span></a>
                    <a href="#instructions" data-role="button"><span data-translate="Instructions"></span></a>
                    <a href="#credits" data-role="button"><span data-translate="Credits"></span></a>
                    <a href="#options" data-role="button"><span data-translate="Options"></span></a>
                </div>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <h4>Exit</h4>
            </div><!-- /footer -->
