<div data-role="header" data-position="inline">
  <h1><span data-translate="Congratulations"></span></h1>
</div><!-- /header -->
<div data-role="content" class="center">
    <div>
      <img id="winnerTeamImage" src=""/>
      <h2><span id="winnerTeamName"></span> <span data-translate="Won"></span>!</h2>
      <span data-translate="DoYouWantToPlayAgain"></span>
      <a href="#score" data-role="button" data-inline="true"><span data-translate="No"></span></a>
      <a href="#" data-role="button" class="restartGame" data-inline="true"><span data-translate="Yes"></span></a>
    </div>
</div><!-- /content -->
