
            <div data-role="header">
                <h1 data-translate="Instructions"></h1>
            </div><!-- /header -->

            <div data-role="content">
                <p data-translate="Instruction1"><p>
                <p data-translate="Instruction2"><p>
                <p data-translate="Instruction3"><p>
                <p data-translate="Instruction4"><p>
                <p data-translate="Instruction5"><p>
                <p data-translate="Instruction6"><p>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#menu" data-direction="reverse"><span data-translate="Back"></span></a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
