            <div data-role="header">
                <h1 data-translate="Options"></h1>
            </div><!-- /header -->

            <div data-role="content">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <legend><span data-translate="Languages"></span>:</legend>
                        <input type="radio" id="option-language-en" name="option-language" data-val="en"/>
                        <label for="option-language-en" id="option-language-en-label"><span data-translate="English"></span></label>

                        <input type="radio" id="option-language-pt" name="option-language" data-val="pt"/>
                        <label for="option-language-pt" id="option-language-pt-label"><span data-translate="Portuguese"></span></label>
                    </fieldset>
                </div>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#menu" data-direction="reverse"><span data-translate="Back"></span></a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
